@font-face {
    font-family: "Museo Sans Cyrl";
    src: url(../fonts/MuseoSansCyrl_100.otf);
}

@font-face {
    font-family: "Museo Sans Cyrl Bold";
    src: url(../fonts/MuseoSansCyrl_900.otf);
    font-weight: 900;
}

@font-face {
    font-family: "Museo Sans Cyrl 300";
    src: url(../fonts/MuseoSansCyrl_300.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Natasha";
    src: url(../fonts/Natasha.ttf);
}



/* =================== Responsive ====================*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}


/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .header_heading h1 {
        font-size: 45px;
    }

    .about_me_heading h2,
    .about_me_background h3, 
    .about_me_merits h3,
    .about_me_communication h3,
    .skills_heading h2,
    .works_heading h2  {
        text-align: center;
    }

    .about_me_wraper {
        display: block;
    }

    .about_me_background {
        margin: 0 auto;
        width: 600px;
        margin-bottom: 100px;
    }

    .about_me_merits_wraper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .about_me_communication_wraper {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .about_me_communication_turn img {
        display: none;
    }

    .skills_skills p {
        margin-right: 35px;
    }

    .skill p {
        margin: 0 auto;
    }

    .works_img {
        display: block;
    }
    
    .works_detailed_img1,
    .works_detailed_img3 {
        margin-bottom: 20px;
    }

    .works_detailed_img2 {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .works_detailed_img3 {
        float: right;  
    }

    footer .rights {
        text-align: center;
    }
}



/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .header_menu nav {
       text-align: center;
        margin-top: -23px;
    }

    .header_menu ul {
        display: block;
    }

    .header_menu li {
        line-height: 1.5em;
        letter-spacing: 0.09em;
    }

    .header_heading h1 {
        line-height: 1.5em;
    }

    .about_me_background {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 100px;
    }

    .skills_skills  {
        display: block;
    }

    .skills_skills  .skill p {
        display: none;
    }

    .skills_skills img {
        display: block;
      
    }

    .skills_skills .skill {
        float: left;
        margin-bottom: 50px;
    }



}


/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .header_wraper {
        display: block;
        margin-bottom: 150px;
    }
    .header_logo {
        margin-bottom: 20px;
    }

    .header_menu nav {
        margin-top: 0;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .header_heading h1 {
        font-size: 35px;
    }

    .header_heading p {
        font-size: 25px
    }

    .header_heading {
        margin-bottom: 150px;
    }

    .about_me_merits_wraper {
        display: block;
    }

    .about_me_count {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .about_me_communication_wraper {
        display: block;
    }

    .about_me_communication_turn img {
        display: block;
    }

    .about_me_communication_turn {
        margin-left: 0;
    }

    .about_me_communication_turn p {
        padding-top: 20px;
        padding-left: 10px;
    }

    .skills_skills .skill {
        margin-bottom: 0;
    }
    .skills_skills p {
        margin-bottom: 20px;
    }

    .works_detailed_img1,
    
    .works_detailed_img2 {
        margin: 20px auto;
    }

    .works_detailed_img3 {
        margin: 0 auto;
        float: none
    }
}

