* {
    margin: 0;
    padding: 0;
}

.clearfix {
	clear: both;	
}

div, p, input, button, form {
	box-sizing: border-box;
}

body {
    font-family: "Museo Sans Cyrl";
    font-size: 15px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    background: url(../img/header_bg.png) no-repeat top center;
    /*-moz-background-size: 100%; /* Firefox 3.6+ */
   /* -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
   /* -o-background-size: 100%; /* Opera 9.6+ */
   /* background-size: 100%; /* Современные браузеры */
    color: #fff;
    padding-bottom: 80px;
}

.header_wraper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 280px;
    padding-top: 20px;
}

.header_logo  {
    font-size: 17px;
}

.header_logo span {
    font-family: "Museo Sans Cyrl Bold";
}

.header_menu {
    font-family: "Museo Sans Cyrl Bold";
    width: 320px;
}

.header_menu ul {
    display: flex;
    justify-content: space-between;
}

.header_menu li {
    list-style-type: none;
}

.header_email a {
    color: #fff;
    font-size: 13px;
    text-transform: none;
    font-family: "Museo Sans Cyrl 300";
    border: none;
}

.header_heading {
    text-align: center;
    margin-bottom: 213px;
}

.header_heading h1 {
    font-family: "Natasha";
    font-size: 49px;
    margin-bottom: 30px;
    letter-spacing: 0.12em;
}

.header_heading p {
    font-size: 29px;
}

.header_img {
    text-align: center;
}

#about_me {
    padding-top: 85px;
    padding-bottom: 95px;
}

#about_me h3 {
    font-family: "Natasha";
    font-size: 22px;
    color: #6d6f69;
}

.about_me_heading h2, .skills_heading h2{
    font-family: "Natasha";
    font-size: 37px;
    margin-bottom: 75px;
}

.about_me_wraper {
    display: flex;
    justify-content: space-between;


}

.about_me_background {
    width: 410px;
    margin-right: 50px;
}
.about_me_background h3, 
.about_me_merits h3 {
    margin-bottom: 40px;
}

.about_me_background p {
    margin-bottom: 30px;
    line-height: 1.6em;
}

.about_me_merits_wraper {
    display: flex;
    
    width: 110px;
    text-align: center;
}

.about_me_count {
    margin-right: 50px;
}

.about_me_count img {
    margin-bottom: 25px;
}

.about_me_count p {
    font-size: 12px;
    text-transform: uppercase;
}

.about_me_merits {
    margin-bottom: 70px;
}

.about_me_communication h3 {
    margin-bottom: 20px;
}

.about_me_communication_a a{
    display: block;
    color: #204d15;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.11em;
    margin-bottom: 11px;
}

.about_me_communication_a_freelance::after {
    content: "";
    display: block;
    background: #becbbb;
    height: 1px;
    width: 166px;
}

.about_me_communication_a_vk::after {
    content: "";
    display: block;
    background: #becbbb;
    height: 1px;
    width: 108px;
}

.about_me_communication_a_info::after {
    content: "";
    display: block;
    background: #becbbb;
    height: 1px;
    width: 132px;
}

.about_me_communication_wraper {
    display: flex;
}

.about_me_communication_turn {
    display: flex;
    background: url(../img/contact.png) no-repeat;
    height: 64px;
    margin-left: 42px;
}

.about_me_communication_turn p {
    font-family: "Museo Sans Cyrl 300";
    color: #60615a;
    padding-top: 25px;
    padding-left: 20px;
}

.skills_heading {
    margin-bottom: 60px;
}

.skills_skills {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.skill {
    background: url(../img/skills_bg.png) no-repeat;
    width: 61px;
    height: 61px;
    text-align: center;
    text-align: -moz-center;
}

.skill_names {
    margin-left: 70px;
    margin-top: -40px;
    font-family: "Museo Sans Cyrl Bold";
    text-transform: uppercase;
    color: #3a3c34;
} 


.skill_percent {
    font-family: "Museo Sans Cyrl";
    text-align: center;
    font-size: 13px;
    color: #3d6434;
    line-height: 4.9em;
    margin: 0 auto;
} 

#works {
    padding-bottom: 100px;
}

.works_heading h2 {
    font-family: "Natasha";
    font-size: 37px;
    margin-bottom: 60px;
}

.works_img {
    display: flex;
    justify-content: space-between;
}

.works_detailed_img1 {
    /* background: url(../img/works1.png) no-repeat; */
    background: url(../img/one_section.jpg) no-repeat;
    background-size: cover;
}

.works_detailed_img2 {
    /* background: url(../img/works2.png) no-repeat; */
    background: url(../img/my_company.jpg) no-repeat;
    background-size: cover;
}

.works_detailed_img3 {
    /* background: url(../img/works3.png) no-repeat; */
    background: url(../img/residential_building.jpg) no-repeat;
    background-size: cover;
}

.works_detailed_img1,
.works_detailed_img2,
.works_detailed_img3 {
    width: 300px;
    height: 299px;
}


.works_detailed {
    display: none;
    color: #fff;
    text-align: center;
    padding-top: 130px;
}

.works_detailed h3 {
    font-family: "Museo Sans Cyrl Bold";
    margin-bottom: 12px;
    text-transform: uppercase;
}

.works_detailed a {
    color: #fff;
    font-size: 13px;
}

.works_detailed_img1:hover .works_detailed {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    cursor: pointer;
}

.works_detailed_img2:hover .works_detailed {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    cursor: pointer;
}

.works_detailed_img3:hover .works_detailed {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    cursor: pointer;
}


footer {
    padding-top: 20px;
    padding-bottom: 110px;
}

.rights p {
    font-family: "Museo Sans Cyrl 300";
    font-size: 11px;
    color: #6d6f69;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}



